<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel = "stylesheet" href="/styles/content.css">
    <title>Edit</title>
</head>
<body>
    <form action="/edit/<%= id %>" method="POST">
        <input type="text" name="title" id="title" placeholder="Blog post" required>
        <textarea id="content" name="content" rows="4" required></textarea>        
        <input type="submit" value="OK">
        
    
      </form>
</body>
</html>