
<%- include("partials/header.ejs") %>

<div class="jumbotron centered">
  <div class="container">
    
    <h1 class="display-3">WEB BLOG</h1>
    <p class="lead">Share the content </p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

